include includes/head.pug
include ./includes/navBar.pug
section.hero.is-primary.is-fullheight-with-navbar
  .hero-body
    .container
      .columns.is-centered
        .column.is-5-tablet.is-4-desktop.is-3-widescreen
          p Cartes de visite enregistrées
          if (businessCards) 
            each businessCard, key in businessCards
              div(class="notification is-info")
                if(businessCard.name)
                  p(id="#{key}") Nom: #{businessCard.name}
                if(businessCard.companyName)
                  p(id="#{key}") Entreprise: #{businessCard.companyName}
                p(id="#{key}") Email: #{businessCard.email}
                if(businessCard.tel)
                  p(id="#{key}") Tel: #{businessCard.tel}

include includes/footer.pug




